body {
    font-family: 'DM Sans', sans-serif;
    background-color: #f0f8ff;
    padding-top: 80px; /* space for fixed navbar */
}
.card:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.carousel-item img {
    height: 450px;
    object-fit: cover;
}

section h2 {
    font-weight: 700;
    margin-bottom: 10px;
}

.nav-link {
    font-weight: 500;
    color: #333 !important;
    font-size: 1rem;
}

.nav-link:hover {
    color: #0d6efd !important;
}

.brand-title {
  font-family: 'Bebas Neue', cursive;
  font-weight: 700;
  font-size: 1.4rem;
}
.social-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
}

.social-icon img {
  width: 75%;
  height: 75%;
  object-fit: cover;
}



