body {
    font-family: 'Bebas Neue', sans-serif;
    background-color: #f0f8ff;
    margin: 0;
}

.carousel-item img {
    height: 450px;
    object-fit: cover;
}

section h2 {
    font-weight: 700;
    margin-bottom: 10px;
}

.nav-link {
    font-weight: 500;
    color: #333 !important;
    font-size: 1rem;
}

.nav-link:hover {
    color: #0d6efd !important;
}

.brand-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.condiments {
    font-size: 0.6em;
    text-transform: lowercase;
    text-decoration: underline;
    margin-left: 5px;
    vertical-align: middle;
}
